body{
    display: flex;
    background-color: rgb(14, 28, 73);
    font-family: sans-serif;
    flex-direction: row;
    justify-content: center;

}


h1{
    color: rgb(181, 181, 196);
    font-size: 20px;
}

#stop-watch-container{
padding: 0%;
margin: 0%;
}

#stop-watch{
    border: none;
    height: 600px;
    width: 800px;
}
