body{
    display: flex;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    color: rgb(181, 181, 196);
    font-size: 20px;
}

#stop-watch{
    border: none;
    height: 420px;
    width: 420px;
}