::-webkit-scrollbar{
    display: none;
}

body{
    margin: -10px;
    font-family: sans-serif;

}
img{
    width: 100vw;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#stop-watch{
    position: absolute;
    top: 0%;
    left: 0%;
    border: none;
    height: 600px;
    width: 420px;
}
